:host {
  width: 100%;
}

.users {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .list {
    display: flex;
    flex-direction: column;

    .user-item {
      width: 100%;
      display: flex;
      color: #FFFFFF;
      height: 38px;
      border-radius: 4px 0 0 4px;
      cursor: pointer;
      position: relative;
      padding: 5px;

      .badge {
        display: block;
        position: absolute;
        z-index: 999;
        width: 8px;
        height: 8px;
        background-color: #F23E5C;
        border-radius: 50100%;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:hover {
        background-color: #303031;
      }

      &.active {
        .avatar {
          &:after {
            content: "";
            width: 8px;
            height: 8px;
            position: absolute;
            top: 22px;
            right: 0;
            transform: translateY(-50%);
            background-color: #46AB5E;
            border-radius: 100%;
          }
        }
      }

      .avatar {
        width: 20%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 30px;
          height: 30px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 100%;
          z-index: 0;
        }

        span {
          position: absolute;
        }
      }

      .nickname {
        width: 80%;
        display: flex;
        align-items: center;
        padding-left: 5px;
      }
    }
  }
}

.c1 {
  &:before {
    background-color: #3F51B5;
  }
}

.c2 {
  &:before {
    background-color: #9971FC;
  }
}

.c3 {
  &:before {
    background-color: #AF33B4;
  }
}

.c4 {
  &:before {
    background-color: #07C4A0;
  }
}

.c5 {
  &:before {
    background-color: #E93958;
  }
}

.c6 {
  &:before {
    background-color: #4AB8D5;
  }
}
