<div class="container">
  <div class="users">
    <app-users (chooseTarget)="chooseTarget($event)" [users]="users"></app-users>
  </div>
  <div class="chat">
    <div class="chat-body" #chatBody>
      <div *ngFor="let m of targetMessages" [ngClass]="{'right': m.sender === _chatParticipants.sender, 'left': _chatParticipants.sender === m.target}">
        <span>{{m.message}}</span>
      </div>
    </div>
    <div class="message-body">
      <div class="message-input">
        <div class="input" contenteditable="true" #input></div>
      </div>
      <div class="message-send">
        <button mat-button
        (click)="sendMessage(input)"
        ><mat-icon>send</mat-icon></button>
      </div>
    </div>
  </div>
</div>
